<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
  	<servlet-name>structure</servlet-name>
  	<servlet-class>org.deri.voider.servlet.StructureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>voidDatasets</servlet-name>
  	<servlet-class>org.deri.voider.servlet.VoidDatasetsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>types</servlet-name>
  	<servlet-class>org.deri.voider.servlet.ClassPartitionsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>resources</servlet-name>
  	<servlet-class>org.deri.voider.servlet.ResourcesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>typeStructure</servlet-name>
  	<servlet-class>org.deri.voider.servlet.InstanceOfTypeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>resourcesOfType</servlet-name>
  	<servlet-class>org.deri.voider.servlet.ResourcesOfTypeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>structure</servlet-name>
    <url-pattern>/structure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>voidDatasets</servlet-name>
  	<url-pattern>/voidDatasets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>types</servlet-name>
  	<url-pattern>/types</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>resources</servlet-name>
  	<url-pattern>/resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>typeStructure</servlet-name>
  	<url-pattern>/typeStructure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>resourcesOfType</servlet-name>
  	<url-pattern>/resourcesOfType</url-pattern>
  </servlet-mapping>
  
  <display-name>voider</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>